*{

    outline: none;
}
:root{
    --color: rgb(1, 150, 21);
    --font: 'Rubik', sans-serif;
    --font-p: quicksand, sans-serif;
}
body{
    background: rgb(22, 21, 17);
}
.bander{
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}
.bander .text{
    position: absolute ;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    bottom: 60px;
    left: 0;
    z-index: 1;
     color: rgb(147, 236, 174);
     text-shadow: 0 0 10px var(--color);
     text-align: left;
     


}
 .text h1{
    font-family: var(--font);
    font-size:  7rem;
    line-height: 0;
    -webkit-text-stroke: 1px var(--color);
     color: transparent;
     text-shadow: none;

}
 .text p{
    font-family: var(--font-p);
    font-size: 2rem;
    line-height: 0;
      
 }
.item{
     border: 0.2px solid var(--color);
    border-radius: 0.7rem;
    overflow: hidden;
    background-color: rgb(128, 131, 131) ;
}
 .bander .change{
     position: absolute;
     z-index: 10;
    left: 0;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

}
 .change:has(+ .column ){
    
     position: sticky;
    left: 0px;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

}
button{
    width: 40px;
    text-align: center;
    color: black;
    border-radius: 100%;
    aspect-ratio: 1;
    border: 2px solid var(--color);
    background-color: var(--color); ;
    
}
button:hover{
    box-shadow: 0 0  20px var(--color);
    background: transparent ;
    color: #ffffff;
}
button:active{
    transform:scale(1.2) ;
}

.rotation{
    --speed: 10s;
    width: 200px;
    height: 250px;
    position: absolute;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    
    transform: perspective(1000px);
    animation: run var(--speed) linear infinite;
}
/*
@keyframes run{
    from{
        transform: perspective(1000px) rotateX(-9deg) rotateY(0deg);
    }
    to{
      transform: perspective(1000px) rotateX(-9deg) rotateY(360deg);
    }
}*/
.rotation .item{
    width: 150px;
    height: 200px;
    border-radius: 0.7rem;
    background-color: rgb(128, 131, 131);
    border: 1px solid var(--color);
    position: absolute;
    overflow: hidden;
    inset: 0 0 0;
    transform:  rotateY( calc((var(--position) - 1) * (360 / var(--quantity) * 1deg) ))
     translateZ(450px);
}
.item img{
    width: 100%;
    height:  100%;
    object-fit: cover;
}
.item:hover{
    box-shadow: 0 0  20px var(--color);
}
.rotation:hover{
    animation-play-state: paused;

}
.column{
    display: column;
    column-count: 4;
    column-width: auto;

}
.column .item {
    width: auto;
    height:  auto;
    object-fit: cover;
    margin-bottom: 0.3rem;

}
.all{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
 .all .item{ 
    --duration: 20s ;
    width: 60px;
    height: 300px;
    border: 2px solid var(--color) ;
    border-radius: 1rem;
    animation: open  var(--duration) linear infinite;
    animation-delay: calc((var(--position) - 1) * (var(--duration) / var(--quantity)));
} 
.all .item:hover{
    width: 250px !important ;
    animation-play-state: paused;
    cursor: pointer;
}
.all .item:focus-within{
    width: 250px !important ;
    animation-play-state: paused;
    cursor: pointer;
}
    
@keyframes open {
   0%{
           width: 50px;

    }
    10%{
    width: 300px;

    
    }
    20%{
    width: 300px;

    }
    30%{
    width: 50px;

    }
    100%{
        width: 50px;

    }
}
    

@media screen and (max-width: 640px) {
 .bander .text{
    position: absolute ;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    bottom: 250px;
    left: 0;
    z-index: 1;
     color: rgb(147, 236, 174);
     text-shadow: 0 0 10px var(--color);
     text-align: left;
     }
 .text h1{
    font-size:  4rem;
    word-wrap: break-word;
    line-height:  normal;
}
 .text p{
    font-size: 1.5rem;  
    word-wrap: break-word;
    line-height: normal;
 }
  .bander .change{
     position: absolute;
     z-index: 10;
    left: 40px;
    bottom: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    transform: scale(1.5);

}
    .column{
    display: column;
    column-count: 1;
    column-width: auto;

}

.rotation .item{
    width: 175px;
    height: 200px;
  ;
    transform:  rotateY( calc((var(--position) - 1) * (360 / var(--quantity) * 1deg) ))
     translateZ(400px)  ;
}
.rotation{
    width: 200px;
    height: 250px;
    position: absolute;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: rotateX(-6deg);
    transform: perspective(1000px);
    animation: run  linear infinite;
}
@keyframes run{
    from{
        transform: rotateX(-9deg) ;
    }
    to{
      transform: rotateX(-9deg) ;
    }
}

.all{
    display: grid;
    grid-template-rows: 2;
    height: 100vh;
    place-content: center;
    gap: 0.5em;
}
 .all .item{ 
    --duration: 20s ;
    width: 250px;
    height: 30px;
    border: 2px solid var(--color) ;
    border-radius: 1rem;
    animation: open  var(--duration) linear infinite;
    animation-delay: calc((var(--position) - 1) * (var(--duration) / var(--quantity)));
}
 
.all .item:hover{
    height: 250px !important ;
    animation-play-state: paused;
    cursor: pointer;
}
    
@keyframes open {
   0%{
           height: 50px;

    }
    10%{
    height: 300px;

    
    }
    20%{
    height: 300px;

    }
    30%{
    height: 50px;

    }
    100%{
        height: 50px;

    }
}

}
